div( class="footer")
  div( class="footer__logo")
    img( src="/img/logo-cost1.png" alt="Natours logo")
    .container-footer
      ul( class="footer__nav")
        li
          a(href="#") About us
        li
          a(href="#") Download apps
        li
          a(href="#") Become a guide
        li
          a(href="#") Careers
        li
          a(href="#") Contact
      p(class="footer__copyright") &copy; by Nguyen Vinh Thinh server for project CS445