div( class="footer")
  div( class="footer__logo")
    img( src="/img/logo-cost1.png" alt="Natours logo")
    .container-footer
      ul( class="footer__nav")
        li
          a(href="/constructing") About us
        li
          a(href="/constructing") Download apps
        li
          a(href="/constructing") Become our customer
        li
          a(href="/constructing") Careers
        li
          a(href="/constructing") Contact
      p(class="footer__copyright") &copy; <i>by Nguyen Vinh Thinh server for project CS445</i>