doctype html
html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="shortcut icon", href="/img/favicon.png", type="image/png")
      title Natours | #{title?title:"Welcome to the Natours"}
      link(href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700" rel="stylesheet")
      script(src="/js/backToTop.js" defer) 
    body
    include _header
    block content
      h1 this is content holder
    include _footer