extends base
block content
  main.main
    .error
      .error__title
        h6.heading-secondary.heading-secondary--error Sorry this page is under constructing 
      .error__title
       h6.error__emoji ⚙⚙⚙⚙⚙⚙
      .error__title
        h6.heading-secondary.heading-secondary--error Please comback later