extends base
block content
  main.main
    .error
      .error__title
        h6.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
        h6.error__emoji 😢 🤯
      .error__msg= msg